# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
*.sqlite
*.db

# Node
node_modules/
dist/
.DS_Store
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.idea/
.vscode/
